<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Thyme leaf Spring Boot Demo </title>
</head>
<body>
<h4>Welcome to Oauth2 Demo In Spring Boot</h4>

<h1>Login Page</h1>
<div>
    With GitHub: <a href="/oauth2/authorization/github">click here</a>
</div>
<div>
    With Google: <a href="/oauth2/authorization/google">click here</a>
</div>
<div>
    With Azure: <a href="/oauth2/authorization/azure">click here</a>
</div>
</body>
</html>
